################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/Tests-MFDisplay/bin/Debug
/Tests-MFDisplay/obj/Debug/Tests-MFDisplay.pdb
/Tests-MFDisplay/obj/Debug/Tests-MFDisplay.dll
/Tests-MFDisplay/obj/Debug/Tests-MFDisplay.csprojAssemblyReference.cache
/Tests-MFDisplay/obj/Debug/Tests-MFDisplay.csproj.FileListAbsolute.txt
/Tests-MFDisplay/obj/Debug/Tests-MFDisplay.csproj.CoreCompileInputs.cache
/Tests-MFDisplay/obj/Debug/Tests-MFDisplay.csproj.CopyComplete
/Tests-MFDisplay/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Tests-MFDisplay/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Tests-MFDisplay/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Tests-MFDisplay/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MFDisplay/bin/Debug
/MFDisplay/obj
/MFDisplay/Configuration.xaml.cs
/MFDisplay/Configuration.xaml
/Tests-MFDisplay/obj/Debug/build.force
/UpgradeLog5.htm
/UpgradeLog4.htm
/UpgradeLog3.htm
/UpgradeLog2.htm
/UpgradeLog.htm
/MFDisplay/Properties/app.manifest
