################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/Tests-MFDisplay/bin/Debug
/Tests-MFDisplay/obj/Debug/Tests-MFDisplay.pdb
/Tests-MFDisplay/obj/Debug/Tests-MFDisplay.dll
/Tests-MFDisplay/obj/Debug/Tests-MFDisplay.csprojAssemblyReference.cache
/Tests-MFDisplay/obj/Debug/Tests-MFDisplay.csproj.FileListAbsolute.txt
/Tests-MFDisplay/obj/Debug/Tests-MFDisplay.csproj.CoreCompileInputs.cache
/Tests-MFDisplay/obj/Debug/Tests-MFDisplay.csproj.CopyComplete
/Tests-MFDisplay/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Tests-MFDisplay/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Tests-MFDisplay/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Tests-MFDisplay/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MFDisplay/bin/Debug
/MFDisplay/obj
/MFDisplay/Configuration.xaml.cs
/MFDisplay/Configuration.xaml
/Tests-MFDisplay/obj/Debug/build.force
/UpgradeLog5.htm
/UpgradeLog4.htm
/UpgradeLog3.htm
/UpgradeLog2.htm
/UpgradeLog.htm
/MFDisplay/Properties/app.manifest
/AISetupMFD4CTS/AISetupMFD4CTS-cache/part1/output-info.ini
/AISetupMFD4CTS/AISetupMFD4CTS-cache/part1/disk1.cab
/AISetupMFD4CTS/AISetupMFD4CTS-cache/part3
/Output/WindowsBase.dll
/Output/UIAutomationProvider.dll
/Output/Tests-MFDisplay.xml
/Output/Tests-MFDisplay.pdb
/Output/Tests-MFDisplay.dll.config
/Output/Tests-MFDisplay.dll
/Output/System.Xml.ReaderWriter.dll
/Output/System.Xaml.dll
/Output/System.Text.RegularExpressions.dll
/Output/System.Security.Cryptography.X509Certificates.dll
/Output/System.Security.Cryptography.Primitives.dll
/Output/System.Security.Cryptography.Encoding.dll
/Output/System.Security.Cryptography.Algorithms.dll
/Output/System.Runtime.InteropServices.RuntimeInformation.dll
/Output/System.Runtime.InteropServices.dll
/Output/System.Runtime.Extensions.dll
/Output/System.Runtime.dll
/Output/System.Reflection.dll
/Output/System.Net.Sockets.dll
/Output/System.Net.Http.dll
/Output/System.Linq.Expressions.dll
/Output/System.Linq.dll
/Output/System.IO.FileSystem.Primitives.dll
/Output/System.IO.FileSystem.dll
/Output/System.IO.dll
/Output/System.IO.Compression.ZipFile.dll
/Output/System.IO.Compression.dll
/Output/System.Globalization.Calendars.dll
/Output/System.Diagnostics.Tracing.dll
/Output/System.Diagnostics.DiagnosticSource.xml
/Output/System.Diagnostics.DiagnosticSource.dll
/Output/System.Design.dll
/Output/System.Console.dll
/Output/System.AppContext.dll
/Output/PresentationFramework.dll
/Output/PresentationCore.dll
/Output/Newtonsoft.Json.xml
/Output/Newtonsoft.Json.pdb
/Output/Newtonsoft.Json.dll
/Output/Microsoft.Win32.Primitives.dll
/Output/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/Output/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/Output/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
/Output/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/Output/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/Output/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/Output/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/Output/MFDSettingsManager.xml
/Output/MFDSettingsManager.pdb
/Output/MFDSettingsManager.dll
/Output/MFDisplay.xml
/Output/MFDisplay.pdb
/Output/MFDisplay.exe.manifest
/Output/MFDisplay.exe.config
/Output/MFDisplay.exe
/Output/MFDisplay.application
/Output/Logs/MFDisplay.log
/Output/log4net.xml
/Output/log4net.dll
/Output/Docs/readme.txt
/Output/Docs/readme.rtf
/Output/app.publish/MFDisplay.exe
/Output/App.config
/Output/AISetupMFD4CTS.msi
/MFDSettingsManager/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MFDSettingsManager/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MFDSettingsManager/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MFDSettingsManager/obj/Debug/MFDSettingsManager.pdb
/MFDSettingsManager/obj/Debug/MFDSettingsManager.dll
/MFDSettingsManager/obj/Debug/MFDSettingsManager.csproj.FileListAbsolute.txt
/MFDSettingsManager/obj/Debug/MFDSettingsManager.csproj.CoreCompileInputs.cache
/MFDSettingsManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MFDSettingsManager/bin/Debug/MFDSettingsManager.pdb
/MFDSettingsManager/bin/Debug/MFDSettingsManager.dll
/AISetupMFD4CTS/AISetupMFD4CTS-cache/part4/disk1.cab
/AISetupMFD4CTS/AISetupMFD4CTS-cache/part4/output-info.ini
/MFDSettingsManager/obj/Debug/MFDSettingsManager.csprojAssemblyReference.cache
/AISetupMFD4CTS/AISetupMFD4CTS-cache/part5/disk1.cab
/AISetupMFD4CTS/AISetupMFD4CTS-cache/part5/output-info.ini
/MFDisplayConfiguration/bin/Debug/MFDisplayConfiguration.pdb
/MFDisplayConfiguration/bin/Debug/MFDisplayConfiguration.exe.config
/MFDisplayConfiguration/bin/Debug/MFDisplayConfiguration.exe
/MFDisplayConfiguration/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/MFDisplayConfiguration/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MFDisplayConfiguration/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MFDisplayConfiguration/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MFDisplayConfiguration/obj/Debug/MFDisplayConfiguration_MarkupCompile.lref
/MFDisplayConfiguration/obj/Debug/MFDisplayConfiguration_MarkupCompile.i.lref
/MFDisplayConfiguration/obj/Debug/MFDisplayConfiguration_MarkupCompile.i.cache
/MFDisplayConfiguration/obj/Debug/MFDisplayConfiguration_MarkupCompile.cache
/MFDisplayConfiguration/obj/Debug/MFDisplayConfiguration.Properties.Resources.resources
/MFDisplayConfiguration/obj/Debug/MFDisplayConfiguration.pdb
/MFDisplayConfiguration/obj/Debug/MFDisplayConfiguration.g.resources
/MFDisplayConfiguration/obj/Debug/MFDisplayConfiguration.exe
/MFDisplayConfiguration/obj/Debug/MFDisplayConfiguration.csprojAssemblyReference.cache
/MFDisplayConfiguration/obj/Debug/MFDisplayConfiguration.csproj.GenerateResource.cache
/MFDisplayConfiguration/obj/Debug/MFDisplayConfiguration.csproj.FileListAbsolute.txt
/MFDisplayConfiguration/obj/Debug/MFDisplayConfiguration.csproj.CoreCompileInputs.cache
/MFDisplayConfiguration/obj/Debug/MainWindow.g.i.cs
/MFDisplayConfiguration/obj/Debug/MainWindow.g.cs
/MFDisplayConfiguration/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MFDisplayConfiguration/obj/Debug/App.g.i.cs
/MFDisplayConfiguration/obj/Debug/App.g.cs
/AISetupMFD4CTS/AISetupMFD4CTS-SetupFiles/AISetupMFD4CTS.exe
/AISetupMFD4CTS/AISetupMFD4CTS-cache/part2/AISetupMFD4CTS1.cab
/MFDisplayConfiguration/MFDisplayConfiguration.csproj.user
/Setup64/Debug/Setup64.msi
/Setup64/Debug/setup.exe
/Tests-MFDisplay/obj/Release/Tests-MFDisplay.pdb
/Tests-MFDisplay/obj/Release/Tests-MFDisplay.dll
/Tests-MFDisplay/obj/Release/Tests-MFDisplay.csprojAssemblyReference.cache
/Tests-MFDisplay/obj/Release/Tests-MFDisplay.csproj.FileListAbsolute.txt
/Tests-MFDisplay/obj/Release/Tests-MFDisplay.csproj.CoreCompileInputs.cache
/Tests-MFDisplay/obj/Release/Tests-MFDisplay.csproj.CopyComplete
/Tests-MFDisplay/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Tests-MFDisplay/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Tests-MFDisplay/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MFDSettingsManager/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MFDSettingsManager/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MFDSettingsManager/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MFDSettingsManager/obj/Release/MFDSettingsManager.pdb
/MFDSettingsManager/obj/Release/MFDSettingsManager.dll
/MFDSettingsManager/obj/Release/MFDSettingsManager.csproj.FileListAbsolute.txt
/MFDSettingsManager/obj/Release/MFDSettingsManager.csproj.CoreCompileInputs.cache
/MFDSettingsManager/obj/Release/MFDSettingsManager.csproj.CopyComplete
/MFDisplayConfiguration/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/MFDisplayConfiguration/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MFDisplayConfiguration/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MFDisplayConfiguration/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MFDisplayConfiguration/obj/Release/MFDisplayConfiguration_MarkupCompile.lref
/MFDisplayConfiguration/obj/Release/MFDisplayConfiguration_MarkupCompile.cache
/MFDisplayConfiguration/obj/Release/MFDisplayConfiguration.Properties.Resources.resources
/MFDisplayConfiguration/obj/Release/MFDisplayConfiguration.pdb
/MFDisplayConfiguration/obj/Release/MFDisplayConfiguration.g.resources
/MFDisplayConfiguration/obj/Release/MFDisplayConfiguration.exe
/MFDisplayConfiguration/obj/Release/MFDisplayConfiguration.csprojAssemblyReference.cache
/MFDisplayConfiguration/obj/Release/MFDisplayConfiguration.csproj.GenerateResource.cache
/MFDisplayConfiguration/obj/Release/MFDisplayConfiguration.csproj.FileListAbsolute.txt
/MFDisplayConfiguration/obj/Release/MFDisplayConfiguration.csproj.CoreCompileInputs.cache
/MFDisplayConfiguration/obj/Release/MFDisplayConfiguration.csproj.CopyComplete
/MFDisplayConfiguration/obj/Release/MainWindow.g.i.cs
/MFDisplayConfiguration/obj/Release/MainWindow.g.cs
/MFDisplayConfiguration/obj/Release/MainWindow.baml
/MFDisplayConfiguration/obj/Release/App.g.i.cs
/MFDisplayConfiguration/obj/Release/App.g.cs
/Output/mfdisplay.log
/Output/setup.exe
/Output/Setup.msi
/Output/mfdisplay.log.2019-01-09.2
/Output/mfdisplay.log.2019-01-09.1
/Output/mfdisplay.log.2019-01-09
/Output/mfdisplay.log.2
/Output/mfdisplay.log.1
/Output/mfdisplay.log.2019-01-10.2
/Output/mfdisplay.log.2019-01-10.1
/Output/mfdisplay.log.2019-01-10
/MFDisplayConfiguration/obj/Debug/build.force
/Output/OverridesWork.config
/Output/DefaultsWork.config
/Output/mfdisplay.log.2019-01-14.2
/Output/mfdisplay.log.2019-01-14.1
/Output/mfdisplay.log.2019-01-14
/Output/mfdisplay.log.2019-01-11.2
/Output/mfdisplay.log.2019-01-11.1
/Output/mfdisplay.log.2019-01-11
/Output/mfdisplay.log.2019-01-16.2
/Output/mfdisplay.log.2019-01-16.1
/Output/mfdisplay.log.2019-01-16
/Output/mfdisplay.log.2019-01-15.2
/Output/mfdisplay.log.2019-01-15.1
/Output/mfdisplay.log.2019-01-15
/Output/mfdisplay.log.2019-01-17.1
/Output/mfdisplay.log.2019-01-17
