<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="MFDSettings" type="MFDSettingsManager.Configuration.MFDConfigurationSection, MFDSettingsManager" />
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="NONE" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <MFDSettings  xmlns="http://tempuri.org/mfdisplay.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\MFDisplay\Docs\mfdisplay.xsd"
                filePath="DefaultsWork" defaultConfig="DefaultsWork" saveClips="false" imageType="Jpg">
    <DefaultConfigurations>
      <add name="LMFD" left="800" top="500" width="850" height="850" xOffsetStart="101" xOffsetFinish="785" yOffsetStart="250" yOffsetFinish="901" opacity="1.0" />
      <add name="RMFD" left="1000" top="500" width="850" height="850" xOffsetStart="903" xOffsetFinish="1587" yOffsetStart="250" yOffsetFinish="901" opacity="1.0" />
    </DefaultConfigurations>
    <Modules>
      <add moduleName="DefaultsWork" displayName="Defaults Work" filename="DefaultsWork.jpg"/>
    </Modules>
  </MFDSettings>
</configuration>
