<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section name="MFDSettings" type="MFDisplay.Configuration.MFDConfigurationSection, MFDisplay"/>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs\MFDisplay.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level[%logger]: %message%newline"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFileAppender"/>
    </root>
  </log4net>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <MFDSettings FilePath="E:\HOTAS\TARGET\CTS\Docs\Profile JPGs\" 
               DefaultConfig="F-5E" 
               xLMFDOffsetStart="101" 
               xLMFDOffsetFinish="772" 
               xRMFDOffsetStart="902" 
               xRMFDOffsetFinish="1573"
               yOffsetStart="133" 
               yOffsetFinish="764"
               width="850"
               height="720"
               top="615"
               lMfdLeft="3000"
               rMfdLeft="3825"
    >
    <Modules>
      <add moduleName="A-4E" displayName="A-4E Skyhawk" filename="DCS A4E MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0"/>
          <add name="RMFD" opacity="1.0"/>
        </Configurations>
      </add>
      <add moduleName="A-10C" displayName="A-10C Warthog" filename="DCS A10C MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0"/>
          <add name="RMFD" opacity="1.0"/>
        </Configurations>
      </add>
      <add moduleName="AJS-37" displayName="AJS 37 Viggen" filename="DCS AJS37 MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0"/>
          <add name="RMFD" opacity="1.0"/>
        </Configurations>
      </add>
      <add moduleName="AV-8B" displayName="AV-8B Harrier II" filename="DCS AV8B MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0"/>
          <add name="RMFD" opacity="1.0"/>
        </Configurations>
      </add>
      <add moduleName="Bf-109" displayName="Bf-109 K-4 Kurfürst" filename="DCS Bf109 MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0"/>
          <add name="RMFD" opacity="1.0"/>
        </Configurations>
      </add>
      <add moduleName="Combined Arms" displayName="Combined Arms" filename="DCS CA MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0"/>
          <add name="RMFD" opacity="1.0"/>
        </Configurations>
      </add>
      <add moduleName="F-14" displayName="F-14B Tomcat">
        <Configurations/>
      </add>
      <add moduleName="F-5E" displayName="F-5E Tiger II" filename="DCS F5E MFD.jpg" >
        <Configurations>
          <add name="LMFD" opacity="1.0"/>
          <add name="RMFD" opacity="1.0"/>
        </Configurations>
      </add>
      <add moduleName="F-86" displayName="F-86F Sabre" filename="DCS F86 MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0"/>
          <add name="RMFD" opacity="1.0"/>
        </Configurations>
      </add>
      <add moduleName="FA-18C" displayName="F/A-18-C Block 20 Hornet" filename="DCS FA18C MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0"/>
          <add name="RMFD" opacity="1.0"/>
        </Configurations>
      </add>
      <add moduleName="FC3_Su25T" displayName="Su-25T Frogfoot" filename="DCS FC3 MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0"/>
          <add name="RMFD" opacity="1.0"/>
        </Configurations>
      </add>
      <add moduleName="Fw-190" displayName="Fw-190 D-9 Dora" filename="DCS Fw190 MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0"/>
          <add name="RMFD" opacity="1.0"/>
        </Configurations>
      </add>
      <add moduleName="Ka-50" displayName="Ka-50 Black Shark" filename="DCS BS2 MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0"/>
          <add name="RMFD" opacity="1.0"/>
        </Configurations>
      </add>
      <add moduleName="L-39" displayName="L-39 Albatros" filename="DCS L39ZA MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0"/>
          <add name="RMFD" opacity="1.0"/>
        </Configurations>
      </add>
      <add moduleName="M-2000C" displayName="Mirage 2000C" filename="DCS M2000 MFD WH.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0"/>
          <add name="RMFD" opacity="1.0"/>
        </Configurations>
      </add>
      <add moduleName="Mi-8" displayName="Mi-8MTV2 Magnificent Eight" filename="DCS MI8 MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0"/>
          <add name="RMFD" opacity="1.0"/>
        </Configurations>
      </add>
      <add moduleName="Mig-15" displayName="Mig-15bis" filename="DCS MIg15 MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0"/>
          <add name="RMFD" opacity="1.0"/>
        </Configurations>
      </add>
      <add moduleName="Mig-21" displayName="Mig-21bis" filename="DCS MIg21 MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0"/>
          <add name="RMFD" opacity="1.0"/>
        </Configurations>
      </add>
      <add moduleName="NS430" displayName="NS430 Console" filename="DCS NS430 MFD3.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0"/>
          <add name="RMFD" opacity="1.0"/>
        </Configurations>
      </add>
      <add moduleName="P_TF-51D" displayName="P-51D Mustang" filename="DCS P51D MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0"/>
          <add name="RMFD" opacity="1.0"/>
        </Configurations>
      </add>
      <add moduleName="SA-342" displayName="SA342 Gazelle" filename="DCS SA342 MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0"/>
          <add name="RMFD" opacity="1.0"/>
        </Configurations>
      </add>
      <add moduleName="Spitfire_LF_MkIX" displayName="Spitfire LF Mk IX" filename="DCS SpitLFIX MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0"/>
          <add name="RMFD" opacity="1.0"/>
        </Configurations>
      </add>
      <add moduleName="UH-1" displayName="UH-1H Huey" filename="DCS UH1 MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0"/>
          <add name="RMFD" opacity="1.0"/>
        </Configurations>
      </add>
    </Modules>
  </MFDSettings>
</configuration>