<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="MFDSettings" type="MFDSettingsManager.Configuration.MFDConfigurationSection, MFDSettingsManager" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <!--
 
  MFDSettings Configuration Section
  - Provides encapsulated configuration for All Modules
  - FilePath : Location where the CTS profile jpgs are located 
  - DefaultConfig : Name of the default module to load, e.g. A-4E
  - Left MFD Configuration Options (Defaults)
    - xLMFDOffsetStart : Default X coord for the Offset to use for the start of the horizontal cropping of an image
    - xLMFDOffsetFinish : Default X coord for the Offset to use for the finish of the horizontal cropping of an image
  - Right MFD Configuration Options (Defaults)
    - xRMFDOffsetStart : Default X coord for the Offset to use for the start of the horizontal cropping of an image
    - xRMFDOffsetFinish : Default X coord for the Offset to use for the finish of the horizontal cropping of an image
  - Common Configuration Options
    - yOffsetStart : Default Y coord for the offset to use for the start of the vertical cropping of an image
    - yOffsetFinish : Default Y coord for the offset to use for the finish of the vertical cropping of an image
    - width : Default width for the resultant image to be displayed in.
    - height : Default height for the resultant image to be displayed in.
    - top : Default Y coordinate for the top position of the image 
    - lMfdLeft : Default X coordinate for the left position of the image when displayed on the Left MFD
    - rMfdLeft : Default X coordinate for the left position of the image when displayed on the Right MFD
  
    Each module entry below, which starts with the markup <add moduleName... Can create as many named configurations underneath 
    the markup <Configurations>. LMFD and RMFD are "special" names and should always remain. Each configuration can override any 
    of the properties that are labeled as "Default" above. An example of this is the CDU configuration for the A-10C:
    
    <add name="CDU" rMfdLeft="500" top="600" width="694" height="352" xRMFDOffsetStart="1" xRMFDOffsetFinish="694" yOffsetStart="1" yOffsetFinish="352" filename="DCS A10C CDU.jpg" opacity="1.0" />
    
    It even overrides the filename. You can use any image and crop any dimension from that image into an image of any size onto any 
    coordinate that your display system is configured to support.
    
    The values in the current configuration are setup as follows:
    
    - Main Display 2K (2560*1440) 
    - LMFD - 1280*720, positioned as 2nd monitor directly to Right of main
    - RMFD - 1280*720, positioned as 3rd monitor directly to Right of 2nd Monitor
    
    - lMfdLeft = starting left position of the display area for the image on the Left MFD, in my case 2975 
    - rMfdLeft = starting left position of the display area for the image on the Right MFD, in my case 3825
    
  -->
  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!-- Pattern to output the caller's file name and line number -->
        <conversionPattern value="%5level [%thread] (%file:%line) - %message%newline" />
      </layout>
    </appender>

    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="mfdisplay.log" />
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="2" />

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %thread %logger - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="Console" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <MFDSettings filePath="F:\CTS\" defaultConfig="FA-18C" saveClips="true" xLMFDOffsetStart="101" xLMFDOffsetFinish="785" xRMFDOffsetStart="903" xRMFDOffsetFinish="1587" yOffsetStart="132" yOffsetFinish="901" width="200" height="200" top="450" lMfdLeft="200" rMfdLeft="800" imageType="Jpeg">
    <Modules>
      <add moduleName="A-4E" displayName="A-4E Skyhawk" filename="DCS A4E MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0" />
          <add name="RMFD" opacity="1.0" />
        </Configurations>
      </add>
      <add moduleName="A-10C" displayName="A-10C Warthog" filename="DCS A10C MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0" />
          <add name="RMFD" opacity="1.0" />
          <!-- Shows example of completely overridden configuration to Display the upper portion of the A-10C CDU -->
          <add name="CDU" rMfdLeft="800" top="1000" width="694" height="352" xRMFDOffsetStart="1" xRMFDOffsetFinish="694" yOffsetStart="1" yOffsetFinish="352" filename="DCS A10C CDU.jpg" opacity="1.0" />
          <add name="UFC" rMfdLeft="1000" top="1000" width="900" height="210" xRMFDOffsetStart="1" xRMFDOffsetFinish="1730" yOffsetStart="590" yOffsetFinish="990" filename="DCS A-10C UFC.jpg" opacity="1.0" />    </Configurations>
      </add>
      <add moduleName="AJS-37" displayName="AJS 37 Viggen" filename="DCS AJS37 MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0" />
          <add name="RMFD" opacity="1.0" />
        </Configurations>
      </add>
      <add moduleName="AV-8B" displayName="AV-8B Harrier II" filename="DCS AV8B MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0" />
          <add name="RMFD" opacity="1.0" />
          <add name="UFC" rMfdLeft="1500" top="1" width="885" height="500" xRMFDOffsetStart="30" xRMFDOffsetFinish="975" yOffsetStart="40" yOffsetFinish="580" filename="DCS AV8B UFC.jpg" opacity="1.0" />
        </Configurations>
      </add>
      <add moduleName="Bf-109" displayName="Bf-109 K-4 Kurfürst" filename="DCS Bf109 MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0" />
          <add name="RMFD" opacity="1.0" />
        </Configurations>
      </add>
      <add moduleName="Combined Arms" displayName="Combined Arms" filename="DCS CA MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0" />
          <add name="RMFD" opacity="1.0" />
        </Configurations>
      </add>
      <add moduleName="F-14" displayName="F-14B Tomcat" filename="DCS F14 MFD.jpg">
        <Configurations />
      </add>
      <add moduleName="F-5E" displayName="F-5E Tiger II" filename="DCS F5E MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0" />
          <add name="RMFD" opacity="1.0" />
        </Configurations>
      </add>
      <add moduleName="F-86" displayName="F-86F Sabre" filename="DCS F86 MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0" />
          <add name="RMFD" opacity="1.0" />
        </Configurations>
      </add>
      <add moduleName="FA-18C" displayName="F/A-18-C Block 20 Hornet" filename="DCS FA18C MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0" />
          <add name="RMFD" opacity="1.0" />
        </Configurations>
      </add>
      <add moduleName="FC3_Su25T" displayName="Su-25T Frogfoot" filename="DCS FC3 MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0" />
          <add name="RMFD" opacity="1.0" />
        </Configurations>
      </add>
      <add moduleName="Fw-190" displayName="Fw-190 D-9 Dora" filename="DCS Fw190 MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0" />
          <add name="RMFD" opacity="1.0" />
        </Configurations>
      </add>
      <add moduleName="Ka-50" displayName="Ka-50 Black Shark" filename="DCS BS2 MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0" />
          <add name="RMFD" opacity="1.0" />
        </Configurations>
      </add>
      <add moduleName="L-39" displayName="L-39 Albatros" filename="DCS L39C MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0" />
          <add name="RMFD" opacity="1.0" />
        </Configurations>
      </add>
      <add moduleName="M-2000C" displayName="Mirage 2000C" filename="DCS M2000 MFD WH.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0" />
          <add name="RMFD" opacity="1.0" />
          <add name="INS" rMfdLeft="1500" top="1" width="548" height="500" xRMFDOffsetStart="8" xRMFDOffsetFinish="698" yOffsetStart="114" yOffsetFinish="744" filename="DCS M2000 INS.jpg" opacity="1.0" />
        </Configurations>
      </add>
      <add moduleName="Mi-8" displayName="Mi-8MTV2 Magnificent Eight" filename="DCS MI8 MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0" />
          <add name="RMFD" opacity="1.0" />
        </Configurations>
      </add>
      <add moduleName="Mig-15" displayName="Mig-15bis" filename="DCS MIg15 MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0" />
          <add name="RMFD" opacity="1.0" />
        </Configurations>
      </add>
      <add moduleName="Mig-21" displayName="Mig-21bis" filename="DCS MIg21 MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0" />
          <add name="RMFD" opacity="1.0" />
        </Configurations>
      </add>
      <add moduleName="NS430" displayName="NS430 Console" filename="DCS NS430 MFD3.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0" />
          <add name="RMFD" opacity="1.0" />
        </Configurations>
      </add>
      <add moduleName="P_TF-51D" displayName="P-51D Mustang" filename="DCS P51D MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0" />
          <add name="RMFD" opacity="1.0" />
        </Configurations>
      </add>
      <add moduleName="SA-342" displayName="SA342 Gazelle" filename="DCS SA342 MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0" />
          <add name="RMFD" opacity="1.0" />
          <add name="NADIR" rMfdLeft="1500" top="1" width="600" height="427" xRMFDOffsetStart="10" xRMFDOffsetFinish="610" yOffsetStart="280" yOffsetFinish="707" filename="SA342 NADIR Keypad.jpg" opacity="1.0" />      </Configurations>
      </add>
      <add moduleName="Spitfire_LF_MkIX" displayName="Spitfire LF Mk IX" filename="DCS SpitLFIX MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0" />
          <add name="RMFD" opacity="1.0" />
        </Configurations>
      </add>
      <add moduleName="UH-1" displayName="UH-1H Huey" filename="DCS UH1 MFD.jpg">
        <Configurations>
          <add name="LMFD" opacity="1.0" />
          <add name="RMFD" opacity="1.0" />
        </Configurations>
      </add>
    </Modules>
  </MFDSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
