<!--
 
  MFDSettings Configuration Section
  - Provides encapsulated configuration for All Modules
  - filePath : Location where the CTS profile jpgs are located 
  - saveClips : If true then every cropped image is saved in the following format:
    - File type: PNG
    - Filename: built as 
        X_{XOffsetStart}To{XOffsetFinish}Y_{YOffsetStart}To{YOffsetFinish}_{Opacity}_{ModuleName}_{ConfigurationName}_{Width}_{Height}.png
    - Folder: The same location as the origin filename 
  - defaultConfig : Name of the default module to load, e.g. A-4E
  - DefaultConfigurations
    Here is where as many named configurations can be placed as you want associated with every module. Good examples are LMFD and RMFD.
    Any attributes that you do not specify in the named configuration will need to be defined in the modules configuration that matches the same name.
    The recommended configuration is to use the LMFD and RMFD to define the size (Width, Height) of all LMFD and RMFD images

    You may also define the defaults for cropping LMFD and RMFD, the defaults for the current images are
    
    <add name="LMFD" opacity="1" width="885" height="700" xOffsetStart="101" xOffsetFinish="776" yOffsetStart="250" yOffsetFinish="900"/>
    <add name="RMFD" opacity="1" width="885" height="700" xOffsetStart="903" xOffsetFinish="1576" yOffsetStart="250" yOffsetFinish="900" />
  
    The defaults for Left & Top in the shipped config matches my configuration which is that I have the following:
    
    Main Monitor = 2560*1440
    LMFD Monitor = 1024*768 positioned bottom right of Main Monitor
    RMFD Monitor = 1024*768 positioned bottom right of the LMFD Monitor
    
    This means that my total display area is 4608*1440 so my configurations for Let and Top are...

    <add name="LMFD" left="2575" top="700" />
    <add name="RMFD" left="4250" top="700" />
  
    Each module entry below, which starts with the markup <add moduleName... Can create as many named configurations underneath 
    the markup <Configurations>. Each configuration can override any property that matches the name of a DefaultConfiguration. Each configuration can also be a brand new configuration
    for a module. An example of this is the CDU configuration for the A-10C:
    
    <add name="CDU" left="500" top="600" width="694" height="352" xOffsetStart="1" xOffsetFinish="694" yOffsetStart="1" yOffsetFinish="352" filename="DCS A10C CDU.jpg" opacity="1.0" />
  -->
<MFDSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://tempuri.org/mfdsettings.xsd mfdsettings.xsd"
               saveClips="true"
               filePath="E:\HOTAS\TARGET\CTS\Docs\Profile JPGs\"
               defaultConfig="A-4E">
  <DefaultConfigurations>
    <add name="LMFD" opacity="1" width="885" height="700" left="2575" top="700" xOffsetStart="101" xOffsetFinish="776" yOffsetStart="250" yOffsetFinish="900"/>
    <add name="RMFD" opacity="1" width="885" height="700" left="4250" top="700" xOffsetStart="903" xOffsetFinish="1576" yOffsetStart="250" yOffsetFinish="900" />
  </DefaultConfigurations>
  <Modules>
    <add moduleName="A-4E" displayName="A-4E Skyhawk" filename="DCS A4E MFD.jpg"/>
    <add moduleName="A-10C" displayName="A-10C Warthog" filename="DCS A10C MFD.jpg">
      <Configurations>
        <add name="CDU" opacity="1" filename="DCS A10C CDU.jpg" width="694" height="352" left="800" top="1000" xOffsetStart="1" xOffsetFinish="694" yOffsetStart="1" yOffsetFinish="352" />
        <add name="UFC" opacity="1" filename="DCS A-10C UFC.jpg" width="900" height="210" left="1000" top="1000" xOffsetStart="1" xOffsetFinish="1730" yOffsetStart="590" yOffsetFinish="990" />
      </Configurations>
    </add>
    <add moduleName="AJS-37" displayName="AJS 37 Viggen" filename="DCS AJS37 MFD.jpg">
      <Configurations>
        <add name="CK37" opacity="1" filename="DCS AJS37 CK37.jpg" width="650" height="500" left="4900" top="0" xOffsetStart="15" xOffsetFinish="875" yOffsetStart="30" yOffsetFinish="680" />
      </Configurations>
    </add>
    <add moduleName="AV-8B" displayName="AV-8B Harrier II" filename="DCS AV8B MFD.jpg">
      <Configurations>
        <add name="UFC" opacity="1" filename="DCS AV8B UFC.jpg" width="885" height="500" left="1500" top="1" xOffsetStart="30" xOffsetFinish="975" yOffsetStart="40" yOffsetFinish="580" />
      </Configurations>
    </add>
    <add moduleName="Bf-109" displayName="Bf-109 K-4 Kurfürst" filename="DCS Bf109 MFD.jpg" />
    <add moduleName="C-101" displayName="C-101EB Aviojet" filename="DCS C101EB MFD.jpg" />
    <add moduleName="Combined Arms" displayName="Combined Arms" filename="DCS CA MFD.jpg" />
    <add moduleName="F-14" displayName="F-14B Tomcat" filename="DCS F14 MFD.jpg" />
    <add moduleName="F-5E" displayName="F-5E Tiger II" filename="DCS F5E MFD.jpg" />
    <add moduleName="F-86" displayName="F-86F Sabre" filename="DCS F86 MFD.jpg" />
    <add moduleName="FA-18C" displayName="F/A-18-C Block 20 Hornet" filename="DCS FA18C MFD.jpg">
      <Configurations>
        <add name="LMFD" opacity="1" filename="..\_High Contrast MFDs\DCS FA18C MFD HiVis.jpg"/>
        <add name="RMFD" opacity="1" filename="..\_High Contrast MFDs\DCS FA18C MFD HiVis.jpg"/>
      </Configurations>
    </add>
    <add moduleName="FC3_Su25T" displayName="Su-25T Frogfoot" filename="DCS FC3 MFD.jpg" />
    <add moduleName="Fw-190" displayName="Fw-190 D-9 Dora" filename="DCS Fw190 MFD.jpg" />
    <add moduleName="Ka-50" displayName="Ka-50 Black Shark" filename="DCS BS2 MFD.jpg" />
    <add moduleName="L-39" displayName="L-39 Albatros" filename="DCS L39C MFD.jpg" />
    <add moduleName="M-2000C" displayName="Mirage 2000C" filename="..\_High Contrast MFDs\DCS M2000 MFD WH HiVis.jpg">
      <Configurations>
        <add name="INS" filename="DCS M2000 INS.jpg" width="548" height="500" left="1500" top="1" xOffsetStart="8" xOffsetFinish="698" yOffsetStart="114" yOffsetFinish="744" />
      </Configurations>
    </add>
    <add moduleName="Mi-8" displayName="Mi-8MTV2 Magnificent Eight" filename="DCS MI8 MFD.jpg" />
    <add moduleName="Mig-15" displayName="Mig-15bis" filename="DCS MIg15 MFD.jpg" />
    <add moduleName="Mig-21" displayName="Mig-21bis" filename="DCS MIg21 MFD.jpg" />
    <add moduleName="NS430" displayName="NS430 Console" filename="DCS NS430 MFD3.jpg" />
    <add moduleName="P_TF-51D" displayName="P-51D Mustang" filename="DCS P51D MFD.jpg" />
    <add moduleName="SA-342" displayName="SA342 Gazelle" filename="DCS SA342 MFD.jpg">
      <Configurations>
        <add name="NADIR" opacity="1" filename="SA342 NADIR Keypad.jpg" width="600" height="427" left="1500" top="1" xOffsetStart="10" xOffsetFinish="610" yOffsetStart="280" yOffsetFinish="707" />
      </Configurations>
    </add>
    <add moduleName="Spitfire_LF_MkIX" displayName="Spitfire LF Mk IX" filename="DCS SpitLFIX MFD.jpg" />
    <add moduleName="UH-1" displayName="UH-1H Huey" filename="DCS UH1 MFD.jpg" />
  </Modules>
</MFDSettings>
