<!--
 
  MFDSettings Configuration Section
  Consult the Configuration Guide
  https://github.com/ScottyMac52/MFDisplay/wiki/Configuration-Guide

-->
<MFDSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://tempuri.org/mfdsettings.xsd mfdsettings.xsd"
               saveClips="false"
               filePath="E:\HOTAS\TARGET\CTS\Docs\Profile JPGs"
               defaultConfig="AJS-37HV">
  <DefaultConfigurations>
    <!-- Configuration for 2K 27" 2560X1440 + 2 MFDS each 1024X720     -->
    
    <add name="LMFD" opacity="1" width="870" height="700" left="2575" top="700" xOffsetStart="101" xOffsetFinish="776" yOffsetStart="250" yOffsetFinish="900"/>
    <add name="RMFD" opacity="1" width="870" height="700" left="4250" top="700" xOffsetStart="903" xOffsetFinish="1576" yOffsetStart="250" yOffsetFinish="900" />
    <add name="WHKEY" opacity="1" width="1200" height="1000" left="5120" top="360" xOffsetStart="0" xOffsetFinish="3330" yOffsetStart="0" yOffsetFinish="2295"/>

    <!-- Configuration for 1080p 24" 1920X1080 * 3 -->
    <!--
    <add name="LMFD" opacity="1" width="400" height="400" left="-400" top="1" xOffsetStart="101" xOffsetFinish="776" yOffsetStart="250" yOffsetFinish="900"/>
    <add name="RMFD" opacity="1" width="400" height="400" left="1920" top="1" xOffsetStart="903" xOffsetFinish="1576" yOffsetStart="250" yOffsetFinish="900" />
    -->
    <!-- Configuration for 1080p * 1 -->
    <!-- 
    <add name="LMFD" opacity="1" width="400" height="400" left="1" top="1" xOffsetStart="101" xOffsetFinish="776" yOffsetStart="250" yOffsetFinish="900"/>
    <add name="RMFD" opacity="1" width="400" height="400" left="1520" top="1" xOffsetStart="903" xOffsetFinish="1576" yOffsetStart="250" yOffsetFinish="900" />
    -->
    <!-- New configuration to show the WH or Cougar Key-->

  </DefaultConfigurations>
  <Modules>
    <add moduleName="A-4E" displayName="A-4E Skyhawk" filename="A-4E\DCS A4E MFD.jpg">
      <Configurations>
        <add name="WHKEY" filename="A-4E\DCS A4E WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="A-4EHV" displayName="A-4E Skyhawk HiViz" filename="_High Contrast MFDs\DCS A4E MFD HiVis.jpg">
      <Configurations>
        <add name="WHKEY" filename="A-4E\DCS A4E WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="A-10C" displayName="A-10C Warthog" filename="A-10C\DCS A10C MFD.jpg">
      <Configurations>
        <add name="CDU" opacity="1" filename="A-10C\DCS A10C CDU.jpg"
          width="694" height="352" left="5120" top="360" xOffsetStart="1"
          xOffsetFinish="694" yOffsetStart="1" yOffsetFinish="352" />
        <add name="UFC" opacity="1" filename="A-10C\DCS A-10C UFC.jpg"
          width="900" height="210" left="5120" top="1000" xOffsetStart="1"
          xOffsetFinish="1730" yOffsetStart="590" yOffsetFinish="990" />
        <add name="WHKEY" filename="A-10C\DCS A10C WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="A-10CHV" displayName="A-10C Warthog HiViz"
      filename="_High Contrast MFDs\DCS A10C MFD HiVis.jpg">
      <Configurations>
        <add name="CDU" opacity="1" filename="A-10C\DCS A10C CDU.jpg"
          width="694" height="352" left="5120" top="360" xOffsetStart="1"
          xOffsetFinish="694" yOffsetStart="1" yOffsetFinish="352" />
        <add name="UFC" opacity="1" filename="A-10C\DCS A-10C UFC.jpg"
          width="900" height="210" left="5120" top="1000" xOffsetStart="1"
          xOffsetFinish="1730" yOffsetStart="590" yOffsetFinish="990" />
        <add name="WHKEY" filename="A-10C\DCS A10C WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="AJS-37" displayName="AJS 37 Viggen" filename="AJS-37\DCS AJS37 MFD.jpg">
      <Configurations>
        <add name="CK37" opacity="0" filename="AJS-37\DCS AJS37 CK37.jpg"
          width="380" height="500" left="5120" top="360" xOffsetStart="15"
          xOffsetFinish="517" yOffsetStart="30" yOffsetFinish="680" />
        <add name="BX" opacity="0" filename="AJS-37\DCS AJS37 CK37.jpg" width="270"
          height="500" left="5120" top="861" xOffsetStart="518" xOffsetFinish="875"
          yOffsetStart="30" yOffsetFinish="680" />
        <add name="WHKEY" filename="AJS-37\DCS AJS37 WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="AJS-37HV" displayName="AJS 37 Viggen Hi Viz"
      filename="_High Contrast MFDs\DCS AJS37 MFD HiVis.jpg">
      <Configurations>
        <add name="CK37" opacity="0" filename="AJS-37\DCS AJS37 CK37.jpg"
          width="380" height="500" left="5120" top="360" xOffsetStart="15"
          xOffsetFinish="517" yOffsetStart="30" yOffsetFinish="680" />
        <add name="BX" opacity="0" filename="AJS-37\DCS AJS37 CK37.jpg" width="270"
          height="500" left="5120" top="861" xOffsetStart="518" xOffsetFinish="875"
          yOffsetStart="30" yOffsetFinish="680" />
        <add name="WHKEY" filename="AJS-37\DCS AJS37 WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="AV-8B" displayName="AV-8B Harrier II" filename="AV-8B\DCS AV8B MFD.jpg">
      <Configurations>
        <add name="ODU" opacity="1" filename="AV-8B\DCS AV8B UFC.jpg" width="375"
        height="185" left="6400" top="360" xOffsetStart="30" xOffsetFinish="425"
        yOffsetStart="40" yOffsetFinish="255" />
        <add name="UFC" opacity="1" filename="AV-8B\DCS AV8B UFC.jpg"
          width="515" height="500" left="6400" top="700" xOffsetStart="426"
          xOffsetFinish="975" yOffsetStart="40" yOffsetFinish="580" />
        <add name="WHKEY" filename="AV-8B\DCS AV8B WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="AV-8BHV" displayName="AV-8B Harrier II Hi Viz"
      filename="_High Contrast MFDs\DCS AV8B MFD HiVis.jpg">
      <Configurations>
        <add name="ODU" opacity="1" filename="AV-8B\DCS AV8B UFC.jpg" width="375"
        height="185" left="6400" top="360" xOffsetStart="30" xOffsetFinish="425"
        yOffsetStart="40" yOffsetFinish="255" />
        <add name="UFC" opacity="1" filename="AV-8B\DCS AV8B UFC.jpg"
          width="515" height="500" left="6400" top="700" xOffsetStart="426"
          xOffsetFinish="975" yOffsetStart="40" yOffsetFinish="580" />
        <add name="WHKEY" filename="AV-8B\DCS AV8B WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="AWACS" displayName="AWACS for LotacATC/SRS" filename="AWACS\DCS AWACS MFD.jpg"/>
    <add moduleName="AWACSHV" displayName="AWACS HiViz for LotacATC/SRS" filename="_High Contrast MFDs\DCS AWACS MFD HiVis"/>
    <add moduleName="Bf-109" displayName="Bf-109 K-4 Kurfürst" filename="Bf-109\DCS Bf109 MFD.jpg">
      <Configurations>
        <add name="WHKEY" filename="Bf-109\DCS Bf109 WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="C-101EB" displayName="C-101EB Aviojet" filename="C-101\DCS C101EB MFD.jpg">
      <Configurations>
        <add name="FD" opacity="1" filename="C-101\DCS C101EB FD.jpg"
          width="260" height="400" left="6400" top="400" xOffsetStart="1"
          xOffsetFinish="836" yOffsetStart="1" yOffsetFinish="1028" />
        <add name="WHKEY" filename="C-101\DCS C101EB WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="C-101EBHV" displayName="C-101EB Aviojet HiViz" filename="_High Contrast MFDs\DCS C101EB MFD HiVis.jpg">
      <Configurations>
        <add name="FD" opacity="1" filename="C-101\DCS C101EB FD.jpg"
          width="260" height="400" left="6400" top="400" xOffsetStart="1"
          xOffsetFinish="836" yOffsetStart="1" yOffsetFinish="1028" />
        <add name="WHKEY" filename="C-101\DCS C101EB WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="CA" displayName="Combined Arms" filename="Combined Arms\DCS CA MFD.jpg" >
      <Configurations>
        <add name="RMFD" opacity="0" />
        <add name="WHKEY" filename="Combined Arms\DCS CA WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="CAHV" displayName="Combined Arms Hi Viz"
      filename="_High Contrast MFDs\DCS CA MFD HiVis.jpg" >
      <Configurations>
        <add name="RMFD" opacity="0" />
        <add name="WHKEY" filename="Combined Arms\DCS CA WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="F-14" displayName="F-14B Tomcat" filename="F-14\DCS F14 MFD.jpg">
      <Configurations>
        <add name="WHKEY" filename="F-14B\DCS F14B WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="F-5E" displayName="F-5E Tiger II" filename="F-5E\DCS F5E MFD.jpg">
      <Configurations>
        <add name="WHKEY" filename="F-5E\DCS F5E WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="F-5EHV" displayName="F-5E Tiger II Hi Viz" filename="_High Contrast MFDs\DCS F5E MFD HiVis.jpg">
      <Configurations>
        <add name="WHKEY" filename="F-5E\DCS F5E WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="F-86" displayName="F-86F Sabre" filename="F-86\DCS F86 MFD.jpg">
      <Configurations>
        <add name="WHKEY" filename="F-86\DCS F86 WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="F-86HV" displayName="F-86F Sabre Hi Viz" filename="_High Contrast MFDs\DCS F86 MFD HiVis.jpg">
      <Configurations>
        <add name="WHKEY" filename="F86\DCS F86 WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="F-15C" displayName="F-15C Eagle"
      filename="FC3_Su25T\DCS FC3 MFD.jpg">
      <Configurations>
        <add name="WHKEY" filename="FC3_Su25T\DCS F15C WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="F-15CHV" displayName="F-15C Eagle Hi Viz"
      filename="_High Contrast MFDs\DCS FC3 MFD HiVis.jpg">
      <Configurations>
        <add name="WHKEY" filename="FC3_Su25T\DCS F15C WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="FA-18C" displayName="F/A-18-C Block 20 Hornet"
      filename="FA-18C\DCS FA18C MFD.jpg">
      <Configurations>
        <add name="WHKEY" filename="FA-18C\DCS FA18C WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="FA-18C3" displayName="F/A-18-C Block 20 Hornet MFD3"
      filename="FA-18C\DCS FA18C MFD.jpg">
      <Configurations>
        <add name="RMFD" filename="FA-18C\DCS FA18C MFD3.jpg" />
        <add name="AMPD" opacity="1" filename="FA-18C\DCS FA18C MFD3.jpg"
          width="400" height="400" left="3440" top="1" xOffsetStart="101"
          xOffsetFinish="776" yOffsetStart="250" yOffsetFinish="900" />
        <add name="WHKEY" opacity="0" filename="FA-18C\DCS FA18C WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="FA-18CHV" displayName="F/A-18C Hornet HiViz"
      filename="_High Contrast MFDs\DCS FA18C MFD HiVis.jpg">
      <Configurations>
        <add name="WHKEY" filename="FA-18C\DCS FA18C WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="FA-18CHV3" displayName="F/A-18C Hornet HiViz 3MFD"
      filename="_High Contrast MFDs\DCS FA18C MFD HiVis.jpg">
      <Configurations>
        <add name="RMFD" filename="_High Contrast MFDs\DCS FA18C MFD3 HiVis.jpg" />
        <add name="AMPD" opacity="1" filename="_High Contrast MFDs\DCS FA18C MFD3 HiVis.jpg"
          width="400" height="400" left="3440" top="1" xOffsetStart="101"
          xOffsetFinish="776" yOffsetStart="250" yOffsetFinish="900" />
        <add name="WHKEY" filename="FA-18C\DCS FA18C WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="FC3_Su25T" displayName="Su-25T/Flaming Cliffs 3" filename="FC3_Su25T\DCS FC3 MFD.jpg">
      <Configurations>
        <add name="WHKEY" filename="FC3_Su25T\DCS Su25 WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="FC3_Su25THV" displayName="Su-25T/FC3 HiViz" filename="_High Contrast MFDs\DCS FC3 MFD HiVis.jpg">
      <Configurations>
        <add name="WHKEY" filename="FC3_Su25T\DCS Su25 WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="Fw-190" displayName="Fw-190 D-9 Dora" filename="Fw-190\DCS Fw190 MFD.jpg">
      <Configurations>
        <add name="WHKEY" filename="Fw-190\DCS Fw190 WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="Ka-50" displayName="Ka-50 Black Shark" filename="Ka-50\DCS BS2 MFD.jpg">
      <Configurations>
        <add name="WHKEY" filename="Ka-50\DCS BS2 WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="Ka-50HV" displayName="Ka-50 Black Shark HiViz" filename="_High Contrast MFDs\DCS Ka50 MFD HiVis.jpg">
      <Configurations>
        <add name="WHKEY" filename="Ka-50\DCS BS2 WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="L-39C" displayName="L-39C Albatros" filename="L-39\DCS L39C MFD.jpg">
      <Configurations>
        <add name="WHKEY" filename="L-39\DCS L39 WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="L-39ZA" displayName="L-39ZA Albatros" filename="L-39\DCS L39ZA LMFD.jpg">
      <Configurations>
        <add name="WHKEY" filename="L-39\DCS L39 WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="M-2000C" displayName="Mirage 2000C (Cougar)" filename="M-2000C\DCS M2000 MFD HC.jpg">
      <Configurations>
        <add name="INS" opacity="1" filename="M-2000C\DCS M2000 INS.jpg" width="548"
          height="500" left="6400" top="360" xOffsetStart="8" xOffsetFinish="698"
          yOffsetStart="114" yOffsetFinish="744" />
        <add name="PSM" opacity="0" filename="M-2000C\DCS M2000 INS.jpg" width="548"
          height="156" left="6400" top="861" xOffsetStart="8" xOffsetFinish="698"
          yOffsetStart="548" yOffsetFinish="744" />
        <add name="PCN" opacity="0" filename="M-2000C\DCS M2000 INS.jpg" width="548"
          height="341" left="6400" top="900" xOffsetStart="8" xOffsetFinish="698"
          yOffsetStart="114" yOffsetFinish="544" />
        <add name="WHKEY" filename="M-2000C\DCS M2000 HC.jpg"/>
      </Configurations>
    </add>
    <add moduleName="M-2000CWH" displayName="Mirage 2000C (Warthog)" filename="M-2000C\DCS M2000 MFD WH.jpg">
      <Configurations>
        <add name="INS" opacity="1" filename="M-2000C\DCS M2000 INS.jpg" width="548"
          height="500" left="6400" top="360" xOffsetStart="8" xOffsetFinish="698"
          yOffsetStart="114" yOffsetFinish="744" />
        <add name="PSM" opacity="0" filename="M-2000C\DCS M2000 INS.jpg" width="548"
          height="156" left="6400" top="861" xOffsetStart="8" xOffsetFinish="698"
          yOffsetStart="548" yOffsetFinish="744" />
        <add name="PCN" opacity="0" filename="M-2000C\DCS M2000 INS.jpg" width="548"
          height="341" left="6400" top="900" xOffsetStart="8" xOffsetFinish="698"
          yOffsetStart="114" yOffsetFinish="544" />
        <add name="WHKEY" filename="M-2000C\DCS M2000 WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="M-2000CHV" displayName="Mirage 2000C HiViz (HC)"
      filename="_High Contrast MFDs\DCS M2000 MFD HC HiVis.jpg">
      <Configurations>
        <add name="INS" opacity="1" filename="M-2000C\DCS M2000 INS.jpg" width="548"
          height="500" left="6400" top="360" xOffsetStart="8" xOffsetFinish="698"
          yOffsetStart="114" yOffsetFinish="744" />
        <add name="PSM" opacity="0" filename="M-2000C\DCS M2000 INS.jpg" width="548"
          height="156" left="6400" top="861" xOffsetStart="8" xOffsetFinish="698"
          yOffsetStart="548" yOffsetFinish="744" />
        <add name="PCN" opacity="0" filename="M-2000C\DCS M2000 INS.jpg" width="548"
          height="341" left="6400" top="900" xOffsetStart="8" xOffsetFinish="698"
          yOffsetStart="114" yOffsetFinish="544" />
        <add name="WHKEY" filename="M-2000C\DCS M2000 HC.jpg"/>
      </Configurations>
    </add>
    <add moduleName="M-2000CWHV" displayName="Mirage 2000C HiViz (WH)"
      filename="_High Contrast MFDs\DCS M2000 MFD WH HiVis.jpg">
      <Configurations>
        <add name="INS" opacity="1" filename="M-2000C\DCS M2000 INS.jpg" width="548"
          height="500" left="6400" top="360" xOffsetStart="8" xOffsetFinish="698"
          yOffsetStart="114" yOffsetFinish="744" />
        <add name="PSM" opacity="0" filename="M-2000C\DCS M2000 INS.jpg" width="548"
          height="156" left="6400" top="861" xOffsetStart="8" xOffsetFinish="698"
          yOffsetStart="548" yOffsetFinish="744" />
        <add name="PCN" opacity="0" filename="M-2000C\DCS M2000 INS.jpg" width="548"
          height="341" left="6400" top="900" xOffsetStart="8" xOffsetFinish="698"
          yOffsetStart="114" yOffsetFinish="544" />
        <add name="WHKEY" filename="M-2000C\DCS M2000 WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="Mi-8" displayName="Mi-8MTV2 Magnificent Eight"
      filename="Mi-8\DCS MI8 MFD.jpg">
      <Configurations>
        <add name="WHKEY" filename="Mi-8\DCS Mi8 WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="Mi-8HV" displayName="Mi-8MTV2 HiViz"
      filename="_High Contrast MFDs\DCS MI8 MFD HiVis.jpg">
      <Configurations>
        <add name="WHKEY" filename="Mi-8\DCS Mi8 WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="Mig-15" displayName="Mig-15bis" filename="Mig-15\DCS Mig15 MFD.jpg">
      <Configurations>
        <add name="WHKEY" filename="Mig-15\DCS Mig15 WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="Mig-15HV" displayName="Mig-15bis HiViz" filename="_High Contrast MFDs\DCS Mig15 MFD HiVis.jpg">
      <Configurations>
        <add name="WHKEY" filename="Mig-15\DCS Mig15 WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="Mig-21" displayName="Mig-21bis" filename="Mig-21\DCS Mig21 MFD.jpg">
      <Configurations>
        <add name="WHKEY" filename="Mig-21\DCS Mig21 WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="Mig-21HV" displayName="Mig-21bis HiViz" filename="_High Contrast MFDs\DCS Mig21 MFD HiVis.jpg">
      <Configurations>
        <add name="WHKEY" filename="Mig-21\DCS Mig21 WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="NS430" displayName="NS430 Console" filename="NS430\DCS NS430 MFD3.jpg" />
    <add moduleName="P_TF-51D" displayName="P-51D Mustang" filename="P_TF-51D\DCS P51D MFD.jpg">
      <Configurations>
        <add name="WHKEY" filename="P_TF-51D\DCS P51D WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="SA-342" displayName="SA342 Gazelle" filename="SA-342\DCS SA342 MFD.jpg">
      <Configurations>
        <add name="NADIR" opacity="1" filename="SA-342\SA342 NADIR Keypad.jpg"
          width="600" height="427" left="6400" top="360" xOffsetStart="10"
          xOffsetFinish="610" yOffsetStart="280" yOffsetFinish="707" />
        <add name="WHKEY" filename="SA-342\DCS SA342 WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="SA-342HV" displayName="SA342 Gazelle HiViz" filename="_High Contrast MFDs\DCS SA342 MFD HiVis.jpg">
      <Configurations>
        <add name="NADIR" opacity="1" filename="SA-342\SA342 NADIR Keypad.jpg"
          width="600" height="427" left="6400" top="360" xOffsetStart="10"
          xOffsetFinish="610" yOffsetStart="280" yOffsetFinish="707" />
        <add name="WHKEY" filename="SA-342\DCS SA342 WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="Spitfire_LF_MkIX" displayName="Spitfire LF Mk IX"
      filename="Spitfire_LF_MkIX\DCS SpitLFIX MFD.jpg">
      <Configurations>
        <add name="WHKEY" filename="Spitfire_LF_MkIX\DCS SpitLFIX WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="UH-1" displayName="UH-1H Huey" filename="UH-1\DCS UH1 MFD.jpg">
      <Configurations>
        <add name="WHKEY" filename="UH-1\DCS UH1 WH.jpg"/>
      </Configurations>
    </add>
    <add moduleName="UH-1HV" displayName="UH-1H Huey HiViz" filename="_High Contrast MFDs\DCS UH1 MFD HiVis.jpg">
      <Configurations>
        <add name="WHKEY" filename="UH-1\DCS UH1 WH.jpg"/>
      </Configurations>
    </add>
  </Modules>
</MFDSettings>
