<!--
  MFDSettings Configuration Section
  Consult the Configuration Guide

  Configuration for 1080p 24" 1920X1080 * 3
    <add name="LMFD" opacity="1" width="400" height="400" left="-400" top="1" xOffsetStart="101" xOffsetFinish="776" yOffsetStart="250" yOffsetFinish="900"/>
    <add name="RMFD" opacity="1" width="400" height="400" left="1920" top="1" xOffsetStart="903" xOffsetFinish="1576" yOffsetStart="250" yOffsetFinish="900" />
  
  Configuration for 1080p * 1
    <add name="LMFD" opacity="1" width="400" height="400" left="1" top="1" xOffsetStart="101" xOffsetFinish="776" yOffsetStart="250" yOffsetFinish="900"/>
    <add name="RMFD" opacity="1" width="400" height="400" left="1520" top="1" xOffsetStart="903" xOffsetFinish="1576" yOffsetStart="250" yOffsetFinish="900" />

  https://github.com/ScottyMac52/MFDisplay/wiki/Configuration-Guide

  -->
<MFDSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://tempuri.org/mfdsettings.xsd mfdsettings.xsd" filePath="C:\Users\Scott\Downloads\" defaultConfig="TestJpg">

  <DefaultConfigurations>
    <add name="LMFD" enable="true" opacity=".75" width="870" height="700" left="-1280" top="0" xOffsetStart="0" xOffsetFinish="851" yOffsetStart="0"  yOffsetFinish="479" />
    <add name="RMFD" enable="true" opacity=".75" width="870" height="700" left="4890" top="0" xOffsetStart="0" xOffsetFinish="851" yOffsetStart="0"  yOffsetFinish="479" />
    <add name="WHKEY" enable="true" opacity=".45" width="1200" height="1000" left="2560" top="0" xOffsetStart="0" xOffsetFinish="851" yOffsetStart="0"  yOffsetFinish="479" />
  </DefaultConfigurations>
  <Modules>
    <add moduleName="TestJpg" displayName="Test Pattern JPG" filename="testpattern.jpg">
      <Configurations>
        <add name="LMFD" opacity=".2">
          <SubConfigurations>
            <add name="SubTest" enable="true" opacity="1.0" filename="tv-test-pattern-146649_960_720.png" startX="200" startY="200" endX="400" endY="400" xOffsetStart="0" xOffsetFinish="960" yOffsetStart="0"  yOffsetFinish="720" />
          </SubConfigurations>
          <!--
         -->
        </add>
      </Configurations>
    </add>
    <add moduleName="TestPng" displayName="Test Pattern PNG" filename="tv-test-pattern-146649_960_720.png"/>
    <add moduleName="TestPngFragment" displayName="Test Pattern PNG Fragment" filename="tv-test-pattern-146649_960_720.png">
      <Configurations>
        <add name="LMFD" opacity="1" filename="tv-test-pattern-146649_960_720.png" left="4480" top="0" height="200" width="600"/>
      </Configurations>
    </add>
  </Modules>
</MFDSettings>
